body {
  background-color: #003461;
}
.home_div
{
    display: flex;
    margin: 25px 74px;;
}
.home_sub_div
{
    margin-right: 100px;
}
.p1 {
    font-size: 25px;
}
.p2 {
    font-size: 63px;
    margin: 0;
    font-family: emoji;
    font-weight: 600;
}
.p3 {
    font-size: 18px;
}
.span1 {
    color: darkorange;
}
.home_img {
    width: 474px;
    margin-top: -45px;
}
.p1 , .p2 , .p3 
{
    color: white;
}
.btn1
{
    padding: 15px 30px;
    font-size: 16px;
    border: 2px solid whitesmoke;
    color: #1882DB;
    border-radius: 25px;
    margin: 10px 0;
    background-color: whitesmoke;
    cursor: pointer;
}
.btn1:hover
{
    background-color: transparent;
    transition: all 0.7s;
}
.btn2
{
    border: 2px solid whitesmoke;
    background: whitesmoke;
    padding: 13px 16px;
    border-radius: 38px;
    margin-left: 20px;
    margin-right: 5px;
}
.btn2:hover
{
    background-color: transparent;
    transition: all 0.7s;
    cursor: pointer;
    transition: all 0.9s;
    padding : 12px 63px;
    border-radius: 33px;
}