#compt3_div
{
    background-color: #003461;
    height: 600px;
}
#compt3_h3
{
    color: whitesmoke;
    text-align: center;
    margin: 50px 0;
}
#compt3_h4
{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}
.swiper {
    width: 90%;
    border-radius: 8px !important;
    height: 70%;
  }
#compt3_div1:hover {
    color: #0176FF;
  }
#compt3_div2:hover {
    color: #0176FF;
  }
#compt3_div3:hover {
    color: #0176FF;
  }

  .swiper-slide {
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-next, .swiper-button-prev
  {
    position: unset!important ;
  }  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  .compt3_div
  {
    padding: 30px;
  }
  .compt3_p
  {
    color: black!important;
  }
  
  