.compt3_div
{
    background-color: #003461;
    height: 600px;
}
#compt3_h3
{
    color: whitesmoke;
    text-align: center;
    margin: 50px 0;
}
#compt3_h4
{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
}