.compt2_div{
background-color: white;
display: flex;
padding: 40px 40px
}
.compt2_sub_div
{
    margin-left: 40px;
}
.compt2_img
{
    border: 2px dashed darkorange;
    border-radius: 314px;
}
.compt2_img:hover{
    border: 2px solid darkorange;
}
.compt2_p1
{
    color :  #1882DB;
    font-size : 20px;
    font-weight: 600;
}
.compt2_p2
{
    font-weight: 600;
    font-size: xx-large;
    
}
.compt2_p3
{
   font-size: 18px;
   margin-bottom: 40px;
}
.compt2_p4
{
    font-size: 22px;
}
.compt2_p5
{
    font-size: 22px;
}
.compt2_p6
{
    font-size: 22px;
}
.compt2_p7
{
    font-size: 22px;
}
.compt2_p8
{
    font-size: 22px;
}
.compt2_btn
{
    margin-top: 40px;
    cursor: pointer;
    padding: 15px 40px;
    border: 2px solid whitesmoke;
    background: #1882DB;
    color: whitesmoke;
    border-radius: 32px;
    font-size: 16px;
}
.compt2_btn:hover
{
    background-color: #0067bd;
    transition: all 0.7s;
}